{% extends 'base.html.twig' %}

{% block title %}
    <title>BookBinder</title>
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('css/Search.css') }}" rel="stylesheet">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="main">
        <div class="container">
            <div class="BookSearch">
                <h1>Book search</h1>
                <h2>Enter the ISBN of the book you want to find</h2>
                <form class="d-flex">
                    <input type="text" id="isbn" placeholder="ISBN" required>
                    <button type="button" id="searchButton">Search</button>
                </form>
                <!-- Add more <p> elements for other book parameters -->
                <div class="col-lg-3">
                    <div class="card rounded-2 mb-4">
                        <div class="card-body">
                            <div class="text-center" onclick="location.href=redirectToBook()" style="cursor: pointer;">
                                <img id="BookPic" class="rounded-3 w-50 book-image" data-isbn=""
                                     src="{{ asset('/public/assets/no_cover.jpg') }}" alt="BookCover">
                                <h5 id="bookTitle"> Title loading</h5>
                                <h6 id="bookAuthor"> Author name loading</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
