.Book-left{
    display: flex;
    flex-flow: column;
    width: 519px;
    height: 801px;
    left: 53px;
    top: 145px;
    border: 1px solid #8572ED;
    border-radius: 10px;
    align-items: center;
}
.nrOfFollowers{
    align-self: center;
    color: #808088;
    font-weight: 800;
}
.BookDetails{
    text-align: center;
}
.buttons{
    display: flex;
    flex-flow: row;
    gap: 45px;
}
.Book-right{
    display: flex;
    flex-flow: column;
    width: auto;
    height: 801px;
    align-items: flex-start;
    margin-left: 200px;
}
.Rating{
    display: flex;
    flex-flow: column;
    margin: 10px;
}

.Book-border{
    width: 350px;
    border-color: rgb(111,66,193);
}






