header {
    background-color: rgb(49, 30, 105);
    font-family: "Figtree SemiBold", Arial, sans-serif;
}

footer {
    background-color: rgb(49, 30, 105);
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(255, 255, 255);
    gap: 10px;
    max-width: 100%;
    padding: 10px;
}

#nav a{
    color: rgb(255, 255, 255);

}

/* mouse over link */
#nav a:hover {
    color: rgb(240, 230, 140);
}

/* selected link */
#nav a:active {
    color: rgb(240, 230, 140);
}
html, body {
    padding: 0;
    margin: 0;
    font-family: Figtree, Arial, sans-serif;;
    background-color: rgb(255, 255, 255);
    color: rgb(49, 30, 105);
    max-width: 100%;
}

main{
    display: flex;
    flex-direction: row;
}

.footer_base_links{
    color: rgb(255, 255, 255);
}
.footer_login_links{
    color: rgb(49,30,105);
}
.login_top_trending{
    color: rgb(49,30,105);
}
.image{
    align-items: center;
    justify-content: center;
}
.bookdetails{
    color: rgb(49,30,105);
    text-align: center;
}

.landing-header{
    max-width: 100%;
    max-height: min-content;
    padding: 40px;
    margin: 30px 30px 0 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.landing-footer{
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    justify-content: center;
    color: rgb(49, 30, 105);
    gap: 10px;
    font-family: "Figtree SemiBold", Arial, sans-serif;
    max-width: 100%;
    padding: 10px;
}
.landing-main{
    padding: 40px 20px;
    margin: 0 30px 30px 30px;
    background-color: rgb(49, 30, 105);
    font-family: "Figtree SemiBold", Arial, sans-serif;;
    width: 100%;
    height: auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.landing-main-left{
    font-family: Figtree, Arial, sans-serif;;
    border-radius: 10px;
}

.landing-trending {
    display: flex;
    flex-direction: column;
    height: 500px;
}
.landing-main-right{
    background-color: rgb(255, 255, 255);
    font-family: Figtree, Arial, sans-serif;;
    border-radius: 10px;
}

.WelcomeLbl{
    color: rgb(49, 30, 105);
}
.WelcomeP{
    color: rgb(128, 128, 136);
    font-weight: bold;
}
.tag {
    font-size: 15px;
    margin-bottom: 12px;
    margin-left: 64px;
    margin-top: 0;
    padding-top: 0;
}

.logo {
    padding: 0;
    max-height: 50px;
    min-height: 50px;
    justify-content: center;
}

#logo {
    max-width : 100%;
    max-height: 100%;
}

a{
    text-decoration: none;
}

div#nav {
    display: flex;
    justify-content: space-between;
    margin-right: 24px;
    margin-top: 15px;
    text-indent: 24px;
    text-align: center;
    text-decoration: none;
}

.welcome {
    max-width: 100%;
    min-height: 180px;
    max-height: 180px;
    padding: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-size: 100%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/homepict.jpg");
    background-position: center;
    border-radius: 10px;
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: column;
}

.trending{
    margin: 10px 0 30px 10px;
}

#trending{
    padding: 16px;
    text-align: center;
    width: 300px;
    height: max-content;
    margin: 0;
    color: rgb(255, 255, 255);
    background: rgb(133, 114, 237);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0 0;
}

.trendinglist{
    padding: 16px;
    text-align: center;
    width: 300px;
    height: 600px;
    margin-top: 0;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#nearest{
    font-family: 'Figtree', Arial, sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: rgb(49, 30, 105);
}

.infobib{
    display: flex;
    padding: 0 30px 30px 30px;
    flex-direction: row;
}

.bibname{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Figtree, Arial, sans-serif;
}

.booklovers-container{
    overflow: auto;
    max-height: 565px;
}
.meetUpText{
    font-weight: 700;
}

.date{
    font-weight: 700;
}

.open{
    padding: 30px;
    flex-direction: column;
}

.homeright{
    padding: 10px 30px 30px 30px;
    flex-direction: column;
}

.booklovers{
    padding-left: 30px;
}

.bookloverslist{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    gap: 20px;
    list-style-type: none;
}

.users{
    display: flex;
    flex-direction: row;
    height:fit-content;
    margin-top: 0;
    width: 350px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;

}

.usersright{
    display: flex;
    flex-direction: column;
    font-size: small;
}

.userdetails{
    color: rgb(49,30,105);
}

#library{
    margin: 8px;
    color: rgb(0, 0, 0);
}

#requestmeetup{
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 8px;
    gap: 6px;
    width: fit-content;
    height: fit-content;
    color: rgb(255, 255, 255);
    background: rgb(49, 30, 105);
    border-radius: 6px;
}

label{
    margin: 8px 8px 0 8px;
}

#datetime{
    margin: 0 8px 8px 8px;
}

button{
    font-family: Figtree, Arial, sans-serif;;
    border-color: rgb(255, 255, 255);
}

#userpict{
    height: 190px;
    width: 150px;
    object-fit: cover;
    justify-content: center;
    border-radius: 6px 0 0 6px;
}

.meetuppage{
    gap: 80px;
    display: flex;
    flex-direction: row;
}

.letters{
    color: rgb(0, 0, 0);
    font-family: Figtree, Arial, sans-serif;
    text-align: center;
}

.titleMeetups{
    margin: 30px 0 0 0;
    padding: 20px 20px 10px 20px;
    width: 330px;
    height: 65px ;
    color: rgb(255, 255, 255);
    background: rgb(134, 112, 247);
    border-radius: 10px 10px 0 0;
}

.titleinvite{
    margin: 30px 0 0 0;
    padding: 20px 20px 10px 20px;
    width: 600px;
    height: 65px ;
    color: rgb(255, 255, 255);
    background: rgb(134, 112, 247);
    border-radius: 10px 10px 0 0;
}

.meetright{
    width: fit-content;
    height: fit-content;
}

.invitationlist{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: auto;
    padding: 20px;
    height: fit-content ;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.invitation{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 450px;
    height: auto;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(49, 30, 105);
    border-radius: 8px;
}
.buttons{
    align-self: center;
}
/*.users{
    display: flex;
    flex-direction: row;
    height:200px;
    margin-top: 0;
    width: auto;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;

}*/

.invitation p{
    font-size: 12px;
    font-weight: 500;
}

.accept{
    margin: 10px;
    padding: 8px;
    width: 85px;
    height: 40px;
    background: rgb(109, 174, 67);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/*#datetimeinvitation{
    margin: 10px;
    width: 130px;
}*/

.writeInvitation{
    margin: 10px;
}

.decline{
    margin: 10px;
    padding: 8px;
    width: 85px;
    height: 40px;
    background: rgb(244, 81, 30);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.coming-up-block{
    margin: 40px 0 0 0;
}

.trendinglist{
    overflow-x: hidden;
    overflow-y: auto;
}

.book_label{
    border-width: 2px 0;
    border-style: solid;
    border-color: rgb(231, 231, 231);
    margin-bottom: 20px;
}

#login{
    margin: 8px;
    gap: 6px;
    width: auto; ;
    height: fit-content;
    color: rgb(255, 255, 255);
    background: rgb(49, 30, 105);
    border-radius: 6px;
}

.BtnGroups{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin-top:10px;
}

.BookBtns{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 117px;
    height: 40px;
    background: rgb(135, 108, 255);
    border-radius: 8px;
    font: inherit;
    line-height: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    align-self: center;
}

.RegisterBtn{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 117px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    font: inherit;
    line-height: 10px;
    text-align: center;
    color: rgb(135, 108, 255);
    border-color: rgb(135, 108, 255);
    cursor: pointer;
    align-self: center;
    margin: 10px;
}

.required{
    color: rgb(49, 30, 105);
}

.LoginField{
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 20px;
    box-sizing: border-box;
    width: 300px;
    height: 45px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    text-align: center;
}

#flash{
    color: rgb(176, 65, 62);

}

.loggedin_user{
    text-indent: 0;
    margin-left: 20px;
    text-decoration: none;
    pointer-events: none;
    cursor: default;
    height: 40px;
    color: rgb(255, 255, 255);
    background: rgb(133, 114, 237);
    border-color: rgb(133, 114, 237);
    border-radius: 15px;
}

.pointer{
    cursor: pointer;
}

.card_background{
    background: rgb(111,66,193);
}
.card_background2{
    background: rgb(134,111,247);
}

.h2{
    color: rgb(49, 30, 105);
    padding-top: 20px;
    padding-bottom: 10px;
}