header {
    background-color: #311E69;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-family: "Figtree SemiBold", Arial, sans-serif;
    max-width: 100%;
    max-height: min-content;
    padding: 10px;
}

.landing-header{
    background-color: #311E69;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-family: "Figtree SemiBold", Arial, sans-serif;
    max-width: 100%;
    max-height: min-content;
    padding: 40px;
    margin: 30px 30px 0 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

div#nav a{
    color: white;
}

/* mouse over link */
div#nav a:hover {
    color: khaki;
}

/* selected link */
div#nav a:active {
    color: khaki;
}

footer {
    background-color: #311E69;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    gap: 10px;
    max-width: 100%;
    padding: 10px;
}

.landing-footer{
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: center;
    color: #311E69;
    gap: 10px;
    max-width: 100%;
    padding: 10px;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: Figtree, Arial, sans-serif;;
    background-color: white;
    color: #311E69;
    max-width: 100%;
}

.landing-main{
    padding: 40px;
    margin: 0 30px 30px 30px;
    background-color: #311E69;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-family: "Figtree SemiBold", Arial, sans-serif;;
    max-width: 100%;
    height: 700px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 64% 100%, 36% 72%, 0 72%);
}

/*Where is this one used?*/
main{
    padding: 0;
    margin: 30px;
    display: flex;
    flex-direction: row;
}

.tag {
    font-size: 15px;
    margin-bottom: 12px;
    margin-left: 64px;
    margin-top: 0;
    padding-top: 0;
}

.logo {
    padding: 0;
    max-height: 50px;
    min-height: 50px;
    justify-content: center;
}

#logo {
    max-width : 100%;
    max-height: 100%;
}

a{
    text-decoration: none;
}

div#nav {
    display: flex;
    justify-content: space-between;
    margin-right: 24px;
    margin-top: 15px;
    text-indent: 24px;
    text-align: center;
    text-decoration: none;
}

.welcome {
    max-width: 100%;
    min-height: 180px;
    max-height: 180px;
    margin-left: 36px;
    padding: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-size: 100%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/homepict.jpg");
    background-position: center;
    border-radius: 10px;
    display: flex;
    color: white;
    flex-direction: column;
}

.trending{
    margin: 10px 0 30px 10px;
}

#trending{
    padding: 16px;
    text-align: center;
    width: 300px;
    height: max-content;
    margin: 0;
    color: white;
    background: #8572ED;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0 0;
}

.trendinglist{
    padding: 16px;
    text-align: center;
    width: 300px;
    height: 600px;
    margin-top: 0;
    color: black;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#nearest{
    min-width: max-content;
    max-width: max-content;
    margin: 10px 0 0 230px;
    padding: 30px 0 0 30px;
    font-family: 'Figtree', Arial, sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: right;
    color: #311E69;
}

.infobib{
    display: flex;
    padding: 0 30px 30px 30px;
    flex-direction: row;
}


.bibname{
    padding: 45px 30px 15px 30px;
    width: 180px;
    height: 60px;
    justify-content: center;
    text-align: center;
    text-justify: distribute;
    background: #8572ED;
    color: white;
    border-radius: 10px 0 0 10px;
}

.open{
    padding: 30px;
    flex-direction: column;
}

.homeright{
    padding: 10px 30px 30px 30px;
    flex-direction: column;
}

.booklovers{
    padding-left: 30px;
}

.bookloverslist{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    gap: 20px;
}

.users{
    display: flex;
    flex-direction: row;
    height: 180px;
    margin-top: 0;
    width: 300px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 8px;
}

.usersright{
    display: flex;
    flex-direction: column;
    font-size: small;
}

#username{
    color: #311E69;
    margin: 8px;
    font-family: "Figtree SemiBold", Arial, sans-serif;;
    font-weight: bold;
    font-size: medium;
}

#library{
    margin: 8px;
    color: black;
}

#requestmeetup{
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 8px;
    gap: 6px;
    width: fit-content;
    height: fit-content;
    color: white;
    background: #311E69;
    border-radius: 6px;
}

label{
    margin: 8px 8px 0 8px;
}

#datetime{
    margin: 0 8px 8px 8px;
}

button{
    font-family: Figtree, Arial, sans-serif;;
    border-color: white;
}

#userpict{
    min-width: 120px;
    min-height: 120px;
    max-height: 180px;
    max-width: 120px;
    object-fit: cover;
    justify-content: center;
    border-radius: 6px 0 0 6px;

}

.meetuppage{
    gap: 80px;
    display: flex;
    flex-direction: row;
}

.titleinvite{
    margin: 30px 0 0 0;
    padding: 20px 20px 10px 20px;
    width: 600px;
    height: 40px ;
    color: white;
    background: #8670F7;
    border-radius: 10px 10px 0 0;
}

.meetright{
    width: fit-content;
    height: fit-content;
}

.invitationlist{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 600px;
    padding: 20px;
    height: fit-content ;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.invitation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
    gap: 10px;
    padding: 10px;
    width: 510px;
    height: fit-content ;
    background: #FFFFFF;
    border: 2px solid #311E69;
    border-radius: 8px;
}

.invitation p{
    font-size: 12px;
}

#accept{
    margin: 10px;
    padding: 8px;
    width: 85px;
    height: 40px;
    background: #6DAE43;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

#datetimeinvitation{
    margin: 10px;
    padding: 10px;
}

#decline{
    margin: 10px;
    padding: 8px;
    width: 85px;
    height: 40px;
    background: #F4511E;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.coming-up-block{
    margin: 40px 0 0 0;
}

.trendinglist{
    overflow-x: hidden;
    overflow-y: auto;
}

.book_label{
    border-width: 2px 0;
    border-style: solid;
    border-color: #E7E7E7;
    margin-bottom: 20px;
}

.landing-main-left{
    width: 400px;
    height: max-content;
    font-family: Figtree, Arial, sans-serif;;
    border-radius: 10px;
}

.landing-main-right{
    width: 400px;
    height: max-content;
    background-color: white;
    font-family: Figtree, Arial, sans-serif;;
    border-radius: 10px;
}

.landing-welcome{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 350px;
}

#login{
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 8px;
    gap: 6px;
    width: auto; ;
    height: fit-content;
    color: white;
    background: #311E69;
    border-radius: 6px;
}

.BookBtns{
    box-sizing: border-box;
    width: 117px;
    height: 40px;
    background:  #876cff;
    border-radius: 8px;
    font: inherit;
    line-height: 10px;
    text-align: center; /* center text horizontally */
    color: white; /* change text color to blue */
    cursor: pointer;
    align-self: center;
    margin: 10px;
}

.required{
    color: #311E69;
}

.LoginField{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 20px;
    box-sizing: border-box;
    width: 300px;
    height: 45px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 15px;
    text-align: center;
}

