.landing-header{
    background-color: rgb(49, 30, 105);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-family: "Figtree SemiBold", Arial, sans-serif;
    max-width: 100%;
    max-height: min-content;
    padding: 40px;
    margin: 30px 30px 0 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

div#nav a{
    color: rgb(255, 255, 255);
}

div#nav a:hover {
    color: rgb(240, 230, 140);
}

div#nav a:active {
    color: rgb(240, 230, 140);
}

.logo {
    padding: 0;
    max-height: 50px;
    min-height: 50px;
    justify-content: center;
}

#logo {
    max-width : 100%;
    max-height: 100%;

}

div#nav {
    display: flex;
    justify-content: space-between;
    margin-right: 24px;
    margin-top: 15px;
    text-indent: 24px;
    text-align: center;
    text-decoration: none;
}

.landing-m{
    padding: 40px 20px;
    margin: 0 30px 30px 30px;
    background-color: rgb(49, 30, 105);
    color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.landing-wel{
    border-radius: 20px;
}

.field-form{
    color: rgb(49, 30, 105);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
    box-sizing: border-box;
    width: 350px;
    height: 45px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    text-align: center;
}

label{
    color: rgb(49, 30, 105);
}

.date-form{
    margin-bottom: 30px;
    margin-top: 10px;
    background: rgb(255, 255, 255);
    text-align: center;
    width: 396px;
    height: 45px;
}

select{
    background: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 6px;
    gap: 40px;
    color: rgb(49, 30, 105);
    width: 90px;
    height: 30px;
    margin: 10px;
}

.terms-form{
    margin-bottom: 30px;
    margin-top: 10px;
}

.signup-button{
    font-family: Figtree, sans-serif;
    color: rgb(255, 255, 255);
    width: 151px;
    height: 54px;
    background: rgb(134, 112, 247);
    border: 2px solid rgb(134, 112, 247);
    border-radius: 8px;
}

.signUpLbl{
    color: rgb(49, 30, 105);
}

.signUpLbl2{
    color: rgb(128, 128, 136);
    font-weight: bold;
}

.custom-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-form-signup{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.custom-form-1{
    width: 400px;
}

.custom-form-2{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

.Avatar{
   width: 50px;
   height: 50px;
}

.message_check{
    color: rgb(139, 0, 0);
}

li {
    color: rgb(139, 0, 0);
}

